<app-header></app-header>

<div class="container my-4">

     <div class="flex w-full items-center justify-end  ">
          <div class="transition-all duration-400 cursor-pointer hover:text-blue-600 flex items-center space-x-2"
          (click)="goBack()">
               <div>
                    <span> بازگشت </span>
               </div>
               <div>
                    <i class="fa-solid fa-arrow-right-to-bracket text-sm"></i>
               </div>
          </div>
     </div>


     <div class="flex w-full items-center justify-end mt-4 mb-6">
          <div class="text-xl ">
               <span> مورد علاقه ها  </span>
          </div>
     </div>


</div>

<app-footer></app-footer>