<app-header></app-header>

<div class="container">
     <div class="w-full overflow-scroll" id="scroll">

          <div class="flex items-center justify-center gap-2 hidden lg:flex" style="min-width: fit-content;">
               <div *ngFor="let product of searchedProducts$ | async">
                    <app-card [product]="product"></app-card>
               </div>
          </div>

          <!-- sm mode -->
          <div class="flex flex-col items-center lg:hidden">
               <div *ngFor="let product of searchedProducts$ | async">
                    <app-card-sm [product]="product"></app-card-sm>
               </div>
          </div>
          
     </div>
</div>

<!-- <div class="w-full overflow-scroll">
     <div class="flex items-center justify-end p-2 gap-2 overflow-scroll" style="min-width: fit-content;" id="scroll">
          <div *ngFor="let product of sliderProductContainer$ | async">
               <app-card [product]="product"></app-card>
          </div>
     </div>
</div> -->
<!-- sm mode -->
<!-- <div class="w-full flex items-center justify-end p-2 overflow-scroll gap-2 lg:hidden" id="scroll">
     <div *ngFor="let product of sliderProductContainer$ | async">
          <app-card-sm [product]="product"></app-card-sm>
     </div>
</div> -->