<!-- <app-header></app-header>

<div class="container p-2 mb-4">

     <div class="w-full flex justify-end items-center text-2xl my-4">
          <span>به پنل ادمین خوش آمدید</span>
     </div>


     <div class="flex items-center justify-evenly flex-wrap w-full" style="row-gap: 10px;">

          <div (click)="goToaddNewProduct()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-green-500 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3 ">
                    <i class="fa-solid fa-plus text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> افزودن کالا </span>
               </div>
          </div>

          <div (click)="goToSliderMdPanel()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-blue-600 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3">
                    <i class="fa-solid fa-circle-plus text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> اسلایدر کوچک </span>
               </div>
          </div>
          <div (click)="goToChangeProduct()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-orange-300 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3">
                    <i class="fa-solid fa-pen text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> تغییر کالا </span>
               </div>
          </div>
          <div (click)="goToDeleteProduct()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-red-400 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3 ">
                    <i class="fa-solid fa-trash text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> حدف کالا </span>
               </div>
          </div>
          
     </div>
     <div class="w-full h-1 bg-gray-300 rounded my-4"></div>
     <div class="flex items-center justify-evenly flex-wrap w-full" style="row-gap: 10px;">
          <div (click)="goToDeleteProduct()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-red-400 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3 ">
                    <i class="fa-solid fa-trash text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> حدف کالا </span>
               </div>
          </div>
          <div (click)="goToDeleteProduct()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-red-400 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3 ">
                    <i class="fa-solid fa-trash text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> حدف کالا </span>
               </div>
          </div>
          <div (click)="goToDeleteProduct()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-red-400 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3 ">
                    <i class="fa-solid fa-trash text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> حدف کالا </span>
               </div>
          </div>
          <div (click)="goToDeleteProduct()" class="flex flex-col cursor-pointer items-center justify-center rounded  px-2 py-1 bg-gray-100
          transition-all duration-300 hover:bg-red-400 hover:text-white">
               <div class="flex items-center justify-center rounded-full  p-3 ">
                    <i class="fa-solid fa-trash text-3xl"></i>
               </div>
               <div class="text-sm">
                    <span> حدف کالا </span>
               </div>
          </div>
     </div>

</div>

<app-footer></app-footer>




 -->



<app-header></app-header>

<div class="w-full flex flex-col space-y-4 rounded  mt-4 py-2 px-2">

     <div class="flex items-center justify-between px-2 py-3 cursor-pointer transition-all duration-300 hover:text-blue-600"
          style="border-bottom: 1px solid rgba(230, 230, 230, 0.829);">
          <div>
               <i class="fa-solid fa-chevron-left text-sm"></i>
          </div>
          <div class="flex items-center space-x-2">
               <div class="text-lg">
                    <span> سفارش ها </span>
               </div>
               <div class="mt-1">
                    <i class="fa-regular fa-credit-card text-sm"></i>
               </div>
          </div>
     </div>

     <div class="flex items-center justify-between px-2 py-3 cursor-pointer transition-all duration-300 hover:text-blue-600"
          style="border-bottom: 1px solid rgba(230, 230, 230, 0.829);">
          <div>
               <i class="fa-solid fa-chevron-left text-sm"></i>
          </div>
          <div class="flex items-center space-x-2">

               <div class="text-lg">
                    <span> آدرس های شما </span>
               </div>
               <div class="mt-1">
                    <i class="fa-solid fa-location-dot text-sm"></i>
               </div>
          </div>
     </div>

     <div class="flex items-center justify-between px-2 py-3 cursor-pointer transition-all duration-300 hover:text-blue-600"
          style="border-bottom: 1px solid rgba(230, 230, 230, 0.829);">
          <div>
               <i class="fa-solid fa-chevron-left text-sm"></i>
          </div>
          <div class="flex items-center space-x-2">

               <div class="text-lg">
                    <span> مورد علاقه </span>
               </div>
               <div class="mt-1">
                    <i class="fa-regular fa-heart text-sm"></i>
               </div>
          </div>
     </div>

     <div class="flex items-center justify-between px-2 py-3 cursor-pointer transition-all duration-300 hover:text-blue-600"
          style="border-bottom: 1px solid rgba(230, 230, 230, 0.829);">
          <div>
               <i class="fa-solid fa-chevron-left text-sm"></i>
          </div>
          <div class="flex items-center space-x-2">

               <div class="text-lg" (click)="logOut()">
                    <span> خروج از حساب </span>
               </div>
               <div class="mt-1">
                    <i class="fa-solid fa-power-off text-sm"></i>
               </div>
          </div>
     </div>
</div>


<app-footer></app-footer>